* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #252B42;
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin: auto;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 19px;
    margin-bottom: 125px;
}

.mobile-menu {
    display: none;
    align-items: center;
}

.mobile-menu a {
    cursor: pointer;
    
}

.mobile-menu a:nth-child(2) {
    margin-left: 24px;
    margin-right: 32px;
}

@media screen and (max-width: 1300px) {
    .nav-auth > p {
        display: none;
    }
    nav button {
        display: none;
    }
}

header nav ul {
    list-style-type: none;
    font-size: 14px;
    display: flex;
}

header nav ul li a {
    color: white;
    margin-right: 21px;
    text-decoration: none;
    font-weight: 600;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav .nav-auth, button {
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

header nav .nav-auth button {
    background-color: #23A6F0;
    color: white;
    font-weight: 700;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
}

header nav .nav-auth button img {
    margin-left: 15px;
}

header nav h3 {
    font-size: max(22px, 1.7vw);
    margin-right: 83px;
    font-weight: 700;
}

header nav .nav-auth a{
    color: white;
    text-decoration: none;
    margin-right: 45px;
    color: #23A6F0;
    font-weight: 700;
    margin-left: 22px;
}

header nav .menu {
    display: flex;
    align-items: center;
}

header section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
    margin: auto;
}

header section h1 {
    font-size: max(40px, 4.3vw);
    text-align: center; 
}

header section p {
    margin-top: 50px;
    font-size: max(18px, 1.2vw);
    font-weight: 500;
    max-width: 85%;
    text-align: center;
    margin-bottom: 50px;
}

.header-buttons {
    display: flex;
    margin-bottom: 203px;
}

@media screen and (max-width: 1000px) {
    header section p {
        line-height: 30px;
    }
}


@media screen and (max-width: 940px) {
        .header-buttons {
            flex-direction: column;
            align-items: center;
            margin-bottom: 15rem;
        }
        .header-buttons button:first-child {
            margin-bottom: 2.5rem;
            font-size: 1.2rem;
            padding: 1rem 3.6rem;
        }
        .header-buttons button:nth-child(2) {
            font-size: 1.2rem;
            padding: 1rem 3.6rem;
        }
}

@media screen and (max-width: 1300px) {
    header nav ul {
        display: none;
    }
    .mobile-menu {
        display: flex;
    }
}

.header-buttons button {
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 15px 36px;
    border: none;
    border-radius: 37px;
}

.header-buttons button:first-child {
    background-color: #23A6F0;
    margin-right: 10px;
}

.header-buttons button:nth-child(2) {
    background-color: #252B42;
    border: 1px solid white;
}

.container h2 {
    font-size: max(30px, 2.8vw);
    font-weight: 700;
    max-width: 50%;
    margin: auto;
    text-align: center;
    
}

@media screen and (max-width: 1104px) {
    .container h2 {
        max-width: 40%;
    }
}

@media screen and (max-width: 500px) {
    .container h2 {
        max-width: 70%;
    }
}

.container > p {
    font-size: max(14px, 1vw);
    font-weight: 500;
    color: #737373;
    text-align: center;
    max-width: 40%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 69px;
}

@media screen and (max-width: 500px) {
    .container p {
        max-width: 65%;
    }
}

.container > div {
    display: flex;
    justify-content: center;
}

.features div  {
    border: 1px solid #F2F2F2;
    margin: 30px 15px;
}

.features h5 {
    font-size: max(18px, 1.1vw);
}

.features p {
    font-size: max(16px, 0.9vw);
    font-weight: 500;
}


.sub-features {
    display: flex;
    padding: 5px 20px;
    position: relative;
}

.sub-features div {
    border: none;
    margin-left: 19px;
}

.sub-features p {
    margin-top: 5px;
    max-width: 80%;
}

.sub-features img {
    margin-bottom: 30px;
}

@media screen and (max-width: 1550px) {
    .main-features {
        flex-direction: column;
        align-items: center;
    }
    .features {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 985px) {
    .features {
        flex-direction: column;
        margin: auto;
        max-width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .sub-features {
        padding: 0.1rem 2rem;
    }
}

.testimonials-content {
    text-align: center;
    margin-top: 150px;
}

.testimonials-content h2 {
    font-size: max(42px, 2.8vw);
    margin-bottom: 10px;
}

.testimonials-content p {
    font-size: max(16px, 1vw);
    font-weight: 500;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 60px;
}

@media screen and (max-width: 900px) {
    .testimonials-content p {
        max-width: 60%;
    }
}

@media screen and (max-width: 500px) {
    .testimonials-content p {
        max-width: 70%;
    }
}

.testimonials-users {
    display: flex;
    margin: 0 auto;
    margin-top: 80px;
    max-width: 75%;
}

.testimonials-users .user {
    display: flex;
    background-color: white;
    height: 248px;
}

.testimonials-users .user h3 {
    color: #252B42;
    font-size: 24px;
    margin-bottom: 5px;
}

.testimonials-users .user h6 {
    color: #737373;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
}

.testimonials-users .user p {
    color: #737373;
    font-size: 14px;
    font-weight: 500;
    max-width: 80%;
    margin-top: 15px;
}

.testimonials-users div:first-child {
    margin-right: 29px;
}

.testimonials-users .user div:nth-child(2) {
    padding-top: 20px;
    padding-left: 10px;
}

.user .user-photo {
    height: 100%;
}

.testimonials-users-mobile {
    display: none;
    margin: auto;
    max-width: 280px;
}

.testimonials-users-mobile h3 {
    font-size: 24px;
    color: #252b42;
    margin-bottom: 5px;
}

.testimonials-users-mobile h6 {
    font-size: 14px;
    font-weight: 600;
    color: #737373;
    margin-bottom: 15px;
}

.testimonials-users-mobile p {
    font-size: 14px;
    font-weight: 500;
    color: #737373;
    margin-top: 15px;
}

.testimonials-users-mobile .user {
    background-color: white;
}

.user-photo-mobile {
    width: 100%;
}

.content-mobile {
    padding: 30px 40px;
}

.testimonials-users-mobile div:first-child {
    margin-bottom: 30px;
}

@media screen and (max-width: 1500px) {
    .testimonials-users {
        display: none;
    }
    .testimonials-users-mobile {
        display: flex;
        flex-direction: column;
    }
}

.about {
    display: flex;
    flex-direction: column;
}

.about-title {
    text-align: center;
    margin-top: 224px;
}

.about-title h2 {
    font-size: max(42px, 2.8vw);
}

.about-title p {
    font-size: max(16px, 1vw);
    max-width: 40%;
    margin: 0 auto;
    margin-top: 10px;
    font-weight: 500;
}

@media screen and (max-width:800px) {
    .about-title p {
        max-width: 65%;
    }
}

.about-content {
    display: flex;
    justify-content: center;
    margin-top: 96px;
}

.about-content-img img {
    width: 100%;
}

.about-content-text {
    margin-left: 4%;
    margin-top: 20px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-content-text h3 {
    display: inline-block;
    font-size: max(28px, 1.5vw);
}

.about-content-text p {
    font-size: max(16px, 0.8vw);
    margin-top: 10px;
    font-weight: 500;
    margin-bottom: 5%;
    max-width: 75%;
}

.about-content-text > div {
    display: flex;
}

.about-content-text div img {
    position: relative;
    margin-right: 20px;
    top: -20px;
}

.about-content-text div:last-child {
    margin-bottom: 3%;
}

.about-content-text div h5 {
    font-size: max(16px, 1vw);
    margin-bottom: 5px;
}

.about-content-text div h6 {
    font-size: max(14px, 0.8vw);
}


@media screen and (max-width: 1205px) {
    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-content-text {
        margin-left: 0;
    }
    .about-content-text div:last-child {
        margin-bottom: 8%;
    }
    .about-content-text div img {
        top: -17px;
    }
    .about-content-text p {
        margin-bottom: 12%;
        margin-top: 2rem;
    }
}

.pricing .title {
    text-align: center;
    margin-top: 224px;
}

.pricing .title h2 {
    font-size: max(42px, 2.8vw);
    margin-bottom: 10px;
}

.pricing .title p {
    font-size: max(16px, 1vw);
    font-weight: 500;
}

.pricing .cards {
    display: flex;
    margin-top: 106px;
    justify-content: center;
}

.pricing .cards .card {
    background-color: white;
    margin-right: 30px;
    padding: 50px 40px;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    text-align: center;
}

.pricing .cards :last-child {
    margin-right: 0;
}

.pricing .cards .card h3 {
    color: #252B42;
    font-size: 24px;
    margin-bottom: 35px;
}

.pricing .cards .card :nth-child(2) {
    color: #737373;
    font-size: 16px;
}

.pricing .cards .card  h5 {
    color: #8EC2F2;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 5px;
}

.pricing .cards .card h2 {
    color: #23A6F0;
    font-size: 40px;
    margin-top: 35px;
}

.pricing .cards .card a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.pricing .cards .card a button {
    background-color: #23A6F0;
    color: white;
    border: none;
    padding: 15px 82px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.pricing .cards .card ul {
    color: #252B42;
    list-style-type: none;
    font-size: 14px;
    font-weight: 600;
}

.pricing .cards .card ul :nth-child(2), .pricing .cards .card ul :last-child {
    color: #252B42;
    font-size: 14px;
}

.pricing .cards .card ul li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.pricing .cards .card ul :last-child {
    margin-bottom: 0;
}

.pricing .cards .card ul li img {
    margin-right: 10px;
}









.test {
    margin-top: 500px;
}