* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #252B42;
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin: auto;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 19px;
    margin-bottom: 125px;
}

.mobile-menu {
    display: none;
    align-items: center;
}

.mobile-menu a {
    cursor: pointer;
    
}

.mobile-menu a:nth-child(2) {
    margin-left: 24px;
    margin-right: 32px;
}

@media screen and (max-width: 1300px) {
    .nav-auth > p {
        display: none;
    }
    nav button {
        display: none;
    }
}

header nav ul {
    list-style-type: none;
    font-size: 14px;
    display: flex;
}

header nav ul li a {
    color: white;
    margin-right: 21px;
    text-decoration: none;
    font-weight: 600;
}

header nav ul li a:hover {
    filter: brightness(1.1);
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav .nav-auth, button {
    font-size: 14px;
    display: flex;
    align-items: center;
}

header nav .nav-auth button {
    background-color: #23A6F0;
    color: white;
    font-weight: 700;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
}

header nav .nav-auth button:hover {
    filter: brightness(1.1);
}

.nav-auth a:hover {
    filter: brightness(1.2);
}

header nav .nav-auth button img {
    margin-left: 15px;
}

header nav h3 {
    font-size: max(22px, 1.7vw);
    margin-right: 83px;
    font-weight: 700;
    cursor: pointer;
}

header nav h3:hover {
    filter: brightness(1.1);
}

header nav .nav-auth a{
    color: white;
    text-decoration: none;
    margin-right: 45px;
    color: #23A6F0;
    font-weight: 700;
    margin-left: 22px;
}

header nav .menu {
    display: flex;
    align-items: center;
}

header section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
    margin: auto;
}

header section h1 {
    font-size: max(40px, 4.3vw);
    text-align: center; 
}

header section p {
    margin-top: 50px;
    font-size: max(18px, 1.2vw);
    font-weight: 500;
    max-width: 85%;
    text-align: center;
    margin-bottom: 50px;
}

.header-buttons {
    display: flex;
    margin-bottom: 203px;
}

.mobile-menu a:hover {
    filter: brightness(0.9);
}

.header-buttons button {
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 15px 36px;
    border: none;
    border-radius: 37px;
    cursor: pointer;
}

.header-buttons button:hover {
    filter: brightness(1.1);
}

.header-buttons button:first-child {
    background-color: #23A6F0;
    margin-right: 10px;
}

.header-buttons button:nth-child(2) {
    background-color: #252B42;
    border: 1px solid white;
}

@media screen and (max-width: 1000px) {
    header section p {
        line-height: 30px;
    }
}


@media screen and (max-width: 940px) {
        .header-buttons {
            flex-direction: column;
            align-items: center;
            margin-bottom: 15rem;
        }
        .header-buttons button:first-child {
            margin-bottom: 2.5rem;
            font-size: 1.2rem;
            padding: 1rem 3.6rem;
        }
        .header-buttons button:nth-child(2) {
            font-size: 1.2rem;
            padding: 1rem 3.6rem;
        }
}

@media screen and (max-width: 1300px) {
    header nav ul {
        display: none;
    }
    .mobile-menu {
        display: flex;
    }
}

@media screen and (max-width: 560px) {
    .header-buttons button:first-child,
    .header-buttons button:nth-child(2) {
        padding: 20px 36px;
        font-size: 16px;
        width: 190px;
        display: inline-block;
        text-align: center;
    }
}

@media screen and (max-width: 405px) {
    header nav .mobile-menu {
        margin-left: -15px;
    }
}

.container h2 {
    font-size: max(30px, 2.8vw);
    font-weight: 700;
    max-width: 50%;
    margin: auto;
    text-align: center;
    
}

@media screen and (max-width: 1104px) {
    .container h2 {
        max-width: 40%;
    }
}

@media screen and (max-width: 500px) {
    .container h2 {
        max-width: 70%;
    }
}

.container > p {
    font-size: max(14px, 1vw);
    font-weight: 500;
    color: #737373;
    text-align: center;
    max-width: 40%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 69px;
}

@media screen and (max-width: 500px) {
    .container p {
        max-width: 65%;
    }
}

.container > div {
    display: flex;
    justify-content: center;
}

.features div  {
    border: 1px solid #F2F2F2;
    margin: 30px 15px;
}

.features h5 {
    font-size: max(18px, 1.1vw);
}

.features p {
    font-size: max(16px, 0.9vw);
    font-weight: 500;
}


.sub-features {
    display: flex;
    padding: 5px 20px;
    position: relative;
}

.sub-features div {
    border: none;
    margin-left: 19px;
}

.sub-features p {
    margin-top: 5px;
    max-width: 80%;
}

.sub-features img {
    margin-bottom: 30px;
}

@media screen and (max-width: 1550px) {
    .main-features {
        flex-direction: column;
        align-items: center;
    }
    .features {
        display: flex;
    }
}

@media screen and (max-width: 985px) {
    .features {
        flex-direction: column;
        margin: auto;
        max-width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .sub-features {
        padding: 0.1rem 0.4rem;
    }
}

.testimonials-content {
    text-align: center;
    margin-top: 150px;
}

.testimonials-content h2 {
    font-size: max(42px, 2.8vw);
    margin-bottom: 10px;
}

.testimonials-content p {
    font-size: max(16px, 1vw);
    font-weight: 500;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 60px;
}

@media screen and (max-width: 900px) {
    .testimonials-content p {
        max-width: 60%;
    }
}

@media screen and (max-width: 500px) {
    .testimonials-content p {
        max-width: 70%;
    }
}

.testimonials-users {
    display: flex;
    margin: 0 auto;
    margin-top: 80px;
    max-width: 75%;
}

.testimonials-users .user {
    display: flex;
    background-color: white;
    height: 248px;
}

.testimonials-users .user h3 {
    color: #252B42;
    font-size: 24px;
    margin-bottom: 5px;
}

.testimonials-users .user h6 {
    color: #737373;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
}

.testimonials-users .user p {
    color: #737373;
    font-size: 14px;
    font-weight: 500;
    max-width: 80%;
    margin-top: 15px;
}

.testimonials-users div:first-child {
    margin-right: 29px;
}

.testimonials-users .user div:nth-child(2) {
    padding-top: 20px;
    padding-left: 10px;
}

.user .user-photo {
    height: 100%;
}

.testimonials-users-mobile {
    display: none;
    margin: auto;
    max-width: 280px;
}

.testimonials-users-mobile h3 {
    font-size: 24px;
    color: #252b42;
    margin-bottom: 5px;
}

.testimonials-users-mobile h6 {
    font-size: 14px;
    font-weight: 600;
    color: #737373;
    margin-bottom: 15px;
}

.testimonials-users-mobile p {
    font-size: 14px;
    font-weight: 500;
    color: #737373;
    margin-top: 15px;
}

.testimonials-users-mobile .user {
    background-color: white;
}

.user-photo-mobile {
    width: 100%;
}

.content-mobile {
    padding: 30px 40px;
}

.testimonials-users-mobile div:first-child {
    margin-bottom: 30px;
}

@media screen and (max-width: 1500px) {
    .testimonials-users {
        display: none;
    }
    .testimonials-users-mobile {
        display: flex;
        flex-direction: column;
    }
}

.about {
    display: flex;
    flex-direction: column;
}

.about-title {
    text-align: center;
    margin-top: 224px;
}

.about-title h2 {
    font-size: max(42px, 2.8vw);
}

.about-title p {
    font-size: max(16px, 1vw);
    max-width: 40%;
    margin: 0 auto;
    margin-top: 10px;
    font-weight: 500;
}

@media screen and (max-width:800px) {
    .about-title p {
        max-width: 65%;
    }
}

.about-content {
    display: flex;
    justify-content: center;
    margin-top: 96px;
}

.about-content-img img {
    width: 100%;
}

.about-content-text {
    margin-left: 4%;
    margin-top: 20px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-content-text h3 {
    display: inline-block;
    font-size: max(28px, 1.5vw);
}

.about-content-text p {
    font-size: max(16px, 0.8vw);
    margin-top: 10px;
    font-weight: 500;
    margin-bottom: 5%;
    max-width: 75%;
}

.about-content-text > div {
    display: flex;
}

.about-content-text div img {
    position: relative;
    margin-right: 20px;
    top: -20px;
}

.about-content-text div:last-child {
    margin-bottom: 3%;
}

.about-content-text div h5 {
    font-size: max(16px, 1vw);
    margin-bottom: 5px;
}

.about-content-text div h6 {
    font-size: max(14px, 0.8vw);
}


@media screen and (max-width: 1205px) {
    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-content-text {
        margin-left: 0;
    }
    .about-content-text div:last-child {
        margin-bottom: 8%;
    }
    .about-content-text div img {
        top: -17px;
    }
    .about-content-text p {
        margin-bottom: 12%;
        margin-top: 2rem;
    }
}

.pricing .title {
    text-align: center;
    margin-top: 224px;
}

.pricing .title h2 {
    font-size: max(42px, 2.8vw);
    margin-bottom: 10px;
}

.pricing .title p {
    font-size: max(16px, 1vw);
    font-weight: 500;
}

.pricing .cards {
    display: flex;
    margin-top: 106px;
    justify-content: center;
}

.pricing .cards .card {
    background-color: white;
    margin-right: 30px;
    padding: 50px 30px;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    text-align: center;
}

.pricing .cards :last-child {
    margin-right: 0;
}

.pricing .cards .card h3 {
    color: #252B42;
    font-size: 24px;
    margin-bottom: 35px;
}

.pricing .cards .card :nth-child(2) {
    color: #737373;
    font-size: 16px;
}

.pricing .cards .card  h5 {
    color: #8EC2F2;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 5px;
}

.pricing .cards .card h2 {
    color: #23A6F0;
    font-size: 40px;
    margin-top: 35px;
}

.pricing .cards .card a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.pricing .cards .card a button {
    background-color: #23A6F0;
    color: white;
    border: none;
    padding: 15px 82px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.pricing .cards .card a button:hover {
    filter: brightness(1.1);
}

.pricing .cards .card ul {
    color: #252B42;
    list-style-type: none;
    font-size: 14px;
    font-weight: 600;
}

.pricing .cards .card ul :nth-child(2), .pricing .cards .card ul :last-child {
    color: #252B42;
    font-size: 14px;
}

.pricing .cards .card ul li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.pricing .cards .card ul :last-child {
    margin-bottom: 0;
}

.pricing .cards .card ul li img {
    margin-right: 10px;
}

@media screen and (max-width: 1300px) {
    .pricing .cards {
        display: block;
        width: 350px;
        margin: 0 auto;
    }
    .pricing .cards .first-card {
        margin-right: 0;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .pricing .cards .second-card {
        margin-right: 0;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 600px) {
    .pricing .cards .card .button-hidden-mobile {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .pricing .cards {
        width: 320px;
    }
    .pricing .cards .card .button-hidden {
        display: none;
    }
    .pricing .cards .card h5 {
        margin-bottom: 20px;
    }
    .pricing .cards .card a {
        margin-top: 40px;
        margin-bottom: 0;
    }
    .pricing .title {
        margin-top: 180px;
    }
}

.contact {
    margin-top: 358px;
}

.contact h2 {
    text-align: center;
    font-size: max(42px, 2.8vw);
    margin-bottom: 10px;
}

.contact p {
    text-align: center;
    font-size: max(16px, 1vw);
    font-weight: 500;
    margin-bottom: 80px;
}

.contact-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-cards h6 {
    font-size: 14px;
    font-weight: 600;
}

.contact-cards h5 {
    font-size: 16px;
}

.contact-cards .first-contact,
.contact-cards .third-contact {
    width: 328px;
    height: 343px;
    background-color: white;
    color: #252B42;
}

.contact-cards .second-contact {
    width: 328px;
    height: 403px;
    background-color: #23A6F0;
}

.contact-card {
    display: inline-block;
    text-align: center;
}

.contact-card a {
    text-decoration: none;
}

.contact-card a button {
    margin: auto;
    border: none;
    font-size: 14px;
}

.contact-cards .first-contact a button,
.contact-cards .third-contact a button {
    color: #23A6F0;
    font-weight: 600;
    background-color: white;
    border: 1px solid #23A6F0;
    padding: 15px 36px;
    border-radius: 37px;
    letter-spacing: 0.4px;
    cursor: pointer;
}

.contact-cards .first-contact a button:hover,
.contact-cards .third-contact a button:hover {
    filter: brightness(1.1);
}

.contact-cards .second-contact a button {
    color: white;
    font-weight: 600;
    background-color: #23A6F0;
    border: 1px solid #FFFFFF;
    padding: 15px 36px;
    border-radius: 37px;
    letter-spacing: 0.4px;
    cursor: pointer;
}

.contact-cards .second-contact a button:hover {
    filter: brightness(1.1);
}

.contact-card img {
    margin-top: 83px;
    margin-bottom: 15px;
}

.contact-cards .first-contact img,
.contact-cards .third-contact img {
    margin-top: 50px;
}

.contact-card :nth-child(3) {
    margin-top: 5px;
    margin-bottom: 15px;
}

.contact-card h5 {
    margin-bottom: 15px;
}


@media screen and (max-width: 1000px) {
    .contact-cards {
        display: flex;
        flex-direction: column;
    }
    .contact-cards .second-contact {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .contact {
        margin-top: 250px;
    }
}

footer {
    margin-top: 165px;
}

.top-footer {
    display: flex;
    justify-content: space-between;
}

.top-footer h3 {
    font-size: 24px;
}

.top-footer div :nth-child(3) {
    margin-right: 62.5px;
    margin-left: 21.5px;
}

.top-footer div :nth-child(2) {
    margin-left: 21.5px;
}

.top-footer img:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.footer-line {
    border: 1px solid #E6E6E6;
    margin-top: 53px;
    margin-bottom: 54px;
}

.footer-lists {
    display: flex;
    justify-content: space-between;
}

footer ul {
    list-style: none;
}

footer ul :first-child {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

footer ul li {
    font-weight: 500;
    cursor: pointer;
}

footer ul li:first-child {
    cursor: auto;
}

footer ul :nth-child(3) {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer ul :nth-child(5) {
    margin-top: 10px;
}

.footer-features {
    display: flex;
    flex-direction: column;
}

.footer-mail {
    display: flex;
    margin-bottom: 10px;
}

footer h5 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

footer .footer-mail input {
    padding: 20px 80px 20px 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #E6E6E6;
}

footer .footer-mail button {
    border-radius: 0px 5px 5px 0px;
    padding: 15px 22.5px 15px 22.5px;
    background-color: #23A6F0;
    color: white;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.5px;
    border: 1px solid #E6E6E6;
    cursor: pointer;
}

footer .footer-mail button:hover {
    background-color: #23A6F0;
    filter: brightness(1.1);
}

footer > p {
    margin-top: 150px;
    text-align: center;
    padding-bottom: 15px;
    font-size: 12px;
    line-height: 20px;
}

.footer-lists div:last-child > p {
    font-weight: 500;
}

footer span {
    font-weight: bold;
    margin-left: 20px;
    color: slateblue;
}

footer span a {
    color: slateblue;
}

.mail-mobile {
    display: none;
}

.list-mobile {
    display: none;
}

@media screen and (max-width: 1460px) {
    .mail-desktop {
        display: none;
    }
    .footer-lists {
        justify-content: space-between;
    }
    .mail-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        margin-top: 80px;
    }
    .mail-mobile .footer-mail input {
        padding-right: 10px;
    }
}

@media screen and (max-width: 1000px) {
    .footer-features, .resources {
        display: none;
    }
    .footer-lists {
        justify-content: space-around;
    }
    .list-mobile {
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
    }
    .top-footer div :nth-child(3) {
        margin-right: 0;
    }
    .footer-line {
        margin-top: 23px;
    }
    footer > p {
        margin-top: 100px;
    }
}